<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6a62644a-92e1-4ab1-91d0-c09d7b257d63/resourcegroups/GrupoCursos/providers/Microsoft.Web/sites/cursoMvcDanich</ResourceId>
    <ResourceGroup>GrupoCursos</ResourceGroup>
    <ApiResourceId>/subscriptions/6a62644a-92e1-4ab1-91d0-c09d7b257d63/resourceGroups/GrupoCursos/providers/Microsoft.ApiManagement/service/DevIOAppapi/apis/DevIOApp</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cursomvcdanich.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>c91fe053-1389-4e8d-8313-0b3493327ae0</ProjectGuid>
    <MSDeployServiceURL>cursomvcdanich.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>cursoMvcDanich</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$cursoMvcDanich</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>